$green-color: #33cd5f;
$green-color-deep: #28a54c;
$red-color: #de473d;
$yellow-color: #F0E68C;
$nav-offset-padding: 0px;

.empty-div {
    height: 57px;
}

.walkthrough-view{
    .wechat-logo {
        font-size: 4rem;
        color: whitesmoke;
        font-family: "Arial", sans-serif;
    }
}

.newMsg {
    background-color: $yellow-color;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    bottom: 0;
    top: 20px;
    padding: 2px;
    text-align: center;
}

.contact-view{
    ion-content {
        padding-top: $nav-offset-padding;
    }

    .chats-container{
        .chats-place-holder {
            height: 50px;
            width: 100%;
        }
    }
}

.chat-view {
    ion-content {
        padding-top: $nav-offset-padding;
    }

    .bar.chat-bar {
        padding: 0px;
        height: 50px;
    }

    .list.chat-list {
        width: 100%;
        padding: 0px;
    }

    .chat-entry {
        margin-top: 10px;
        margin-left: 54px;
        padding: 5px;

        .chat-chatbox{
            background-color: $green-color;
            display: inline-block;
            border-radius: 10px;
            padding: 10px;
            max-width: 300px;
        }

        .chat-image{
            max-width: 300px
        }

        &.chat-right {
            text-align: right;
            margin-right: 54px;
        }
    }

    .chat-message {
        width: 100%;
    }

}

.wechat-user-icon {
    position: absolute;
    width: 38px;
    left: 9px;

    &.chat-right{
        left: auto;
        right: 9px;
    }
}

.me-view {
    ion-content {
        padding-top: $nav-offset-padding;
    }

}

.weixin-view {
    .spinner-div {
        margin: auto;
        position: absolute;
        top: 68px; left: 0; right: 0;
        height: 85px;
        text-align: center;
    }
}




