$green-color: #33cd5f;
$green-color-deep: #28a54c;

.wechat-view{
    .chats-container{
        .chats-place-holder {
            height: 50px;
            width: 100%;
        }
    }
}



.chat-view {
    .bar.chat-bar {
        padding: 0px;
        height: 50px;
    }

    .list.chat-list {
        width: 100%;
        padding: 0px;
    }

    .chat-entry {
        margin-top: 10px;
        margin-left: 54px;
        padding: 5px;

        .chat-chatbox{
            background-color: $green-color;
            display: inline-block;
            border-radius: 10px;
            padding: 10px;
        }

        &.chat-right {
            text-align: right;
            margin-right: 54px;
        }
    }

    .chat-message {
        width: 100%;
    }

}

.wechat-user-icon {
    position: absolute;
    width: 38px;
    left: 9px;

    &.chat-right{
        left: auto;
        right: 9px;
    }
}






