<ion-view class="chat-view">
    <ion-content>
        <div ng-repeat="message in messages" ng-class="{'chat-entry': 1, 'chat-right': isRight(message)}">
            <img ng-src="{{getPhotoUrl(message)}}" ng-class="{'wechat-user-icon': 1, 'chat-right': isRight(message)}"/>
            <p class="chat-chatbox">{{message.message}}</p>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-assertive chat-bar">
        <div class="list chat-list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Message">
                </label>
                <button class="button button-small">
                    Send
                </button>
            </div>
        </div>
    </div>
</ion-view>