<ion-view class="discover-view">

    <ion-content>
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <div class="posts-list">
            <div ng-repeat="post in posts" class="list card post-item">
                <div class="post-heading item item-text-wrap">
                    <h2 class="post-title" ng-bind-html="post.title | rawHtml"></h2>
                    <p class="post-author">
                        By <span>{{post.author.nickname}}</span> <span am-time-ago="post.date"></span>
                    </p>
                </div>
                <div class="post-content item item-text-wrap" post-content>
                    <p class="post-excerpt" dynamic-anchor-fix ng-bind-html="post.content | rawHtml"></p>
                    <div class="post-actions row">
                        <div class="actions col col-center col-66">
                            <a class="button button-icon icon ion-bookmark" ng-click="bookmarkPost(post)"></a>
                        </div>
                        <div class="read-more col col-center col-33">
                            <a ui-sref="app.post({postId: post.id})" class="button button-small button-block button-assertive">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Infinit scroll -->
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
        </ion-infinite-scroll>
    </ion-content>

    <ion-tabs class="tabs-assertive tabs-icon-top">
        <!--proxy is just used to redirect to app.weixin, but also save the history at app level so we can go back when we enter chat-->
        <ion-tab title="Chat" icon-on="ion-android-chat" icon-off="ion-android-chat" ui-sref="app.wechat">
        </ion-tab>

        <ion-tab title="Contacts" icon-on="ion-android-contacts" icon-off="ion-android-contacts" ui-sref="app.contact">
        </ion-tab>

        <ion-tab title="Discover" icon-on="ion-compass" icon-off="ion-compass" ui-sref="app.discover ">
        </ion-tab>

        <ion-tab title="Me" icon-on="ion-android-contact" icon-off="ion-android-contact" ui-sref="app.me">
        </ion-tab>

    </ion-tabs>
</ion-view>