<ion-view class="wechat-view">

  <ion-content>
    <div class="list layouts-functionalities">
      <a class="item item-icon-left item-icon-right">
        <!--<i class="icon ion-happy-outline"></i>-->
        <img class="wechat-user-icon" src="img/people/001.jpg" />
        <div>
          <span class="title">Patrick Neil Harrison</span>
          <p class="description">Hi, this is patrick</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-arrow-swap"></i>
        <div>
          <span class="title">Slider</span>
          <p class="description">Example of sliding cards</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
  </ion-content>

  <ion-tabs class="tabs-assertive tabs-icon-top">

    <ion-tab title="Chat" icon-on="ion-android-chat" icon-off="ion-android-chat">
    </ion-tab>

    <ion-tab title="Contacts" icon-on="ion-android-contacts" icon-off="ion-android-contacts">
    </ion-tab>

    <ion-tab title="Discover" icon-on="ion-compass" icon-off="ion-compass">
    </ion-tab>

    <ion-tab title="Me" icon-on="ion-android-contact" icon-off="ion-android-contact">
    </ion-tab>

  </ion-tabs>
</ion-view>
