<ion-view class="wechat-view">
  <ion-content>
    <div class="list layouts-functionalities chats-container">
      <a ng-repeat="chat in chats" class="item item-icon-left">
        <img class="wechat-user-icon" ng-src="{{chat.url}}" />
        <div>
          <span class="title">{{chat.name}}</span>
          <p class="description">{{chat.message}}</p>
        </div>
      </a>
        <div class="chats-place-holder"></div>
    </div>

  </ion-content>

  <ion-tabs class="tabs-assertive tabs-icon-top">

    <ion-tab title="Chat" icon-on="ion-android-chat" icon-off="ion-android-chat">
    </ion-tab>

    <ion-tab title="Contacts" icon-on="ion-android-contacts" icon-off="ion-android-contacts">
    </ion-tab>

    <ion-tab title="Discover" icon-on="ion-compass" icon-off="ion-compass">
    </ion-tab>

    <ion-tab title="Me" icon-on="ion-android-contact" icon-off="ion-android-contact">
    </ion-tab>

  </ion-tabs>
</ion-view>
